.board{
    margin:50px auto;
    width:500px;
    height:500px;
    background-color: rgb(12, 21, 29);
    color:rgb(255, 255, 255);
    border-radius: 1em;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding:1em;   
    box-sizing: border-box;
}